## .NET / ASP.NET Core
bin/
obj/
*.user
*.suo
.vs/
*.log
*.cache

## Secrets / config sensibles
appsettings.Development.json
**/secrets.json

## Rider / VS Code
.idea/
.vscode/

## OS
.DS_Store
Thumbs.db
